.layout-header {
	width: 100%;
}

.layout-header img {
	width: 100%;
	height: auto;
}

.layout-footer {
	width: 100%;
	position: fixed;
	height: 60px;
	bottom: 0;
	background: rgba(0,0,0,0.8);
}

.layout-footer .download-btn {
	display: flex;
	display: -webkit-flex;
}

.layout-footer .download-btn .btn a{
	background: rgba(68,68,68,0.8);
	color: #fff;
	text-align: center;
	line-height: 36px;
	/*border-radius: 30px;*/
	width: 150px;
	display: block;
	margin: 10px auto;
}


.layout-footer .download-btn .btn{
	flex: 2;
	-webkit-flex: 2;
}