.layout-header {
	width: 100%;
}

.layout-header .title h1 {
	font-size: 16px;
	/*color: #fff;*/
	line-height: 60px;
	padding-left: 20px;
	background: #ccc;
}

.layout-header .title img {
	width: 100%;
	/*height: auto;*/
	height: 300px;
	background: #ccc;
	text-align: center;
	line-height: 300px;
}

.layout-body {
	margin: 10px 15px;
}

.intro .intro-tit {
	font-size: 16px;
	text-align: center;
	margin-bottom: 10px;
}

.intro .intro-txt {
	font-size: 14px;
}

.layout-footer .download-btn .btn{
	display: block;
	margin: 20px 50px;
	background: #ccc;
	text-align: center;
	line-height: 36px;
	border-radius: 30px;
}